/* class="animate__animated animate__lightSpeedOutRight animate__slower	4s animate__infinite	infinite" */

html { 
  background: url(/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {   
  height: 70%;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-container{
  position: absolute;
  background: none;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.card{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  display: flex;
  justify-content: center; 
}

.flipCard{
  transform: rotateY(180deg);
}

#flip-btn{
  position: fixed;
  z-index: 1;
  top: 14%;
  right: 45%;
}


.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
  border: 0;
  color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.btn:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

/******************** FRONT **********************/

  
.front{
  width: 100%;
  height: fit-content;
  backface-visibility: hidden;
  background: none;
  border-radius: 5%;
  background: silver; 
}

.title{
  color: rgb(43, 42, 42);
  font-size: 50px;
  margin-bottom: 13%;
  text-align: center;
}

.refresh-btn{
  margin-left: 2%;
  background: none;
  border: none;
  color: blue;
  font-size: larger;
  cursor: pointer;
}

.reAnimate:active{
  animation: heartBeat; 
  animation-duration: .75s;
}

.mom:after {
  content: "";
  display: table;
  clear: both;
}

.item{
  width: 48%;
  float: left;
  display: flex;
  justify-content: center;
  margin: 3%;
  margin-left: 1%;
  margin-right: 1%;
}

.check{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #787373;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: rgb(66, 64, 64);
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: large;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.check:hover .tooltiptext {
  visibility: visible;
}

.update-text{
  visibility: hidden;
  background: none;
  color:#e74c3c;
  text-align: center;
  font-size: large;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  right: 60%;
}

.for-tip:hover .update-text{
  visibility: visible;
}

#clear{
  margin-right: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.notification {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: blue;
  
}

.clock img{
  width: 25px;
}

.notification-content {
  display: none;
  position: absolute;
  background-color: none;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 2px 6px;
  margin-top: 50%;
}

.notification:hover .notification-content {
  display: block;
}

#add{
  display: none;
  position: absolute;
  z-index: 1;
  top: 16%;
  right: 36%;
  font-size: x-large;
  color:#e74c3c;
}

.action-button{
	position: relative;
	padding: 1px 10px;
  cursor:pointer;
	border-radius: 10px;
	font-size: large;
	color: slategray;
	text-decoration: none;	
  background-color: black;
	border-bottom: 2px solid slategrey;	
}

.action-button:active{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.todo__done {
  text-decoration: 3px line-through red !important;
}

/******************** BACK **********************/

.back{
  position: absolute;
  width: 80%;
  height: 100%;
  backface-visibility: hidden;
  background: none;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  display: block;
  background: black;
  border-radius: 10%;
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #83828578, #000);
}

.sms-container{
  display: flex;
  justify-content: space-between;
  margin-top: 25%;
}

.back-container{
  margin-left: 8%;
  margin-right: 6%;
  margin-top: 5%;
}

.back-title{
  margin:0;
  margin-bottom: 25%;
}

.message-title{
  margin:0;
  margin-bottom: 20%;
  margin-right: 21%;
}

.form-control{
  position: relative;
  width: 85%;
  height: fit-content;
  background: none;
  border: none;
  color: black;
  font-size: larger; 
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control:hover{
overflow: visible;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}

.input-container ::placeholder{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
  pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
  pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.input-container textarea{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.input-container input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
}

.input-container textarea:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-20px;	
}

.input-container textarea:focus ~ label,
.input-container textarea:valid ~ label{
	top:-20px;	
}

.input-container2{
	position:relative;
	margin-bottom:25px;
}

.input-container2 ::placeholder{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
  pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.input-container2 label{
	position:absolute;
	top:-20px;
	left:0px;
	font-size:16px;
	color:#fff;	
  pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.input-container2 input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.input-container2 textarea{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}

.input-container2 input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
}

.input-container2 textarea:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #e74c3c;	
}

.input-container2 input:focus ~ label,
.input-container2 input:invalid ~ label{
	top:-20px;
}

.input-container2 textarea:focus ~ label,
.input-container2 textarea:invalid ~ label{
	top:-20px;
}

#over{
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 41%;
  font-size: x-large;
  color: white;
}

